NODE_ENV=development
APP_ENV=preview
PORT=3000
BASE_URL=https://SEU-LINK-DEV.vercel.app
MONGODB_URI=mongodb://USUARIO:SENHA@HOST1:27017,HOST2:27017,HOST3:27017/mentoria_api_dev?ssl=true&replicaSet=SEU-REPLICA-SET&authSource=admin&appName=Cluster0
MONGODB_DB_NAME=mentoria_api_dev
JWT_SECRET=troque-por-uma-chave-forte
JWT_EXPIRES_IN=1d
RANKING_HIDE_INACTIVE_STUDENTS=false
NEXT_PUBLIC_API_BASE_URL=
